<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <span class="nav-link">@context.User.Identity.Name</span>
                <a href="Logout" class="nav-link">Log out</a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a href="Register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="Login" class="nav-link">Login</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>