@inherits LayoutComponentBase

<div class="main">
    <div>
        <Navigation></Navigation>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code { 
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; } 
}